CardView,
#view {
    border: none;
    background-color: transparent;
}

IconCard {
    border-radius: 8px;
    background-color: rgba(29, 29, 29, 99);
}

#GameNameLabel {
    font: 32px 'Segoe UI SemiBold', 'Microsoft YaHei SemiBold';
    background-color: transparent;
    color: #eeeeee;
}

#GameContentLabel {
    font: 16px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC';
    background-color: transparent;
    color: rgb(93, 93, 93);
}
