CardView,
#view {
    border: none;
    background-color: transparent;
}

IconCard {
    border-radius: 8px;
    background-color: rgba(29, 29, 29, 99);
}

#GameNameLabel {
    background-color: transparent;
    color: #eeeeee;
}

#GameContentLabel {
    background-color: transparent;
    color: rgb(93, 93, 93);
}
