CardView,
#view {
    border: none;
    background-color: transparent;
}

IconCard {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 99);
}

#GameNameLabel {
    font: 42px 'Segoe UI SemiBold', 'Microsoft YaHei SemiBold';
    background-color: transparent;
    color: #222831;
}

#GameContentLabel {
    font: 18px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC';
    color: rgb(176, 176, 176);
}